/** Add css rules here for your application. */



body {
  text-align: center;
  min-width: 500px;
}


.mainPanel {
	text-align: center;
	margin: auto;
}

.initListHeader  {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

.initList {
  border: 1px solid silver;
  margin-bottom:6px;
}

.initColumn {
	border: 1px solid silver;
    padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
}

.initBox {
    border: 1px solid silver;
    padding: 5px;
    font-weight: bold;
    color: #444444;
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 2px;
    width: 3em;   
    text-align: center;
}

.initPanel {
    text-align: right;
}

.initLabel {
    color: #444444;
    font-size: 1em;
}	

.buttonBox {
}


.statusBar {
	padding: 3px;
	border: 1px;
}

.statusElement {
    background-color: #CCCCCC;
    padding: 3px;
}

aboutBox {
	width: 40em;
}

rightSideButton {
    background:transparent url(images/hborder.png) repeat-x scroll 0px -27px;
    border:1px outset #CCCCCC;
    cursor:pointer;
    font-size:small;
    /*margin:5px;*/
    padding:30px;
    text-decoration:none;
    margin-left: auto;
    margin-right: auto;
}

.hyperlink {
	margin-right: 5px;
}

.footer {
	padding: 5px;
}

/** Dynamic styles */
.hidden {
	display: none;
}

.myTurn {
    background-color: #ffff00;
}

.notMyTurn {
    background-color: #FFFFFF;
}	

.positive {
}

.nonpositive {
    font-weight: bold;
	color: #0000FF;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #444444;
  text-align: center;
  margin-bottom: 0px;
}



.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
